<div class="page-section">
  <div class="container">
    <div class="search-section">
      <%= form_tag articles_path, method: :get do %>
        <div class="form-group search" id="search">
          <%= text_field_tag "query", params[:query], placeholder: 'Search articles', class: "form-control search-input" %>
          <button type="submit">Search</button>
        </div>
      <% end %>
    </div>
    <% if params[:query].present? %>
      <div>Showing results found for <b><%= params[:query] %></b></div>
    <% end %>
    <div class="articles-lists row">
      <%= render 'articles/article' %>
    </div>
  </div>
</div>