
  <div class="container article-container">
    <div class="article-content">
      <div class="sub-header">
        <h1><%= @article.title %></h1>
      </div>
      <div class="article-meta-data">
        <span class="article-author">By <%= @article.user.first_name %></span> |
        <span class="article-created-date"><%= @article.created_at.strftime("%d-%m-%Y") %></span>
      </div>
      <div class="article-body">
        <%= @article.content.html_safe %>
      </div>
    </div>
  </div>
