@import '/colors';

.article-meta-data {
  display: flex;
  margin-bottom: 20px;
  color: $gray-text-color;

  .article-author {
    margin-right: 8px;
  }

  .article-created-date {
    margin-left: 8px;
  }
}

.search {
  display: flex;

  .search-input {
    margin-right: 10px;
  }
}
